<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.mapper.MemberMapper"> 
	
	<select id="MemberList" resultType="kr.spring.domain.Member">
    	select * from t_member 
	</select>
	
</mapper>