@charset "UTF-8";

/* Theme Color 
	
	Gray : #777676
	Red : #C8252B
	Yellow : #FDD000
	WhiteGray : #F2F2F2

*/

/* Main */

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: 'SBAggroB';
}

#background{
}

.top{
	height: 20%;
	text-align: right;
}

#setting{
	width : inherit;
	max-width: 5%;
	height: auto;
	margin: 2%;
}

#setting:hover{
	width : inherit;
	max-width: 6%;
	height: auto;
	margin: 1.5%;
	cursor: pointer;
}

#symbol{
	display: inline-block;
	width : 100%;
	height : 50%;
}

#mainlogo{
	width : inherit;
	max-width: 30%;
	height: auto;
}

#title{
	height: auto;
}

#title-text{
	display: inline-block;
	font-size: 7vw;
	width: auto;
	height: auto;
	color: #C8252B;
	margin: 3%;
	text-shadow: 1px 1px 5px #777676;
}

#btn-main{
	text-align: right;
	vertical-align: bottom;
	height: 30%;
}

#btn-login-main{
	text-align: center;
	vertical-align: bottom;
	height: 30%;
}

#report{
	display: inline-block;
	max-width : 20%;
	height: auto;
	margin-right: 10%;
}

#report:hover{
	display: inline-block;
	max-width: 21%;
	height: auto;
	margin-right: 9.5%;
	cursor: pointer;
}

#login-text{
	display: inline-block;
	font-size: 3vw;
	height: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

#login-text:hover{
	display: inline-block;
	height: auto;
}

#login{
	display: inline-table;
	vertical-align: middle;
	max-width: 20%;
	background-color: #F2F2F2;
	height: auto;
	border-radius: 0.5em;
	box-shadow: 5px 5px 10px #777676;
}

#login:hover{
	cursor: pointer;
}

#join{
	height: auto;
}

#join-text{
	display: inline-block;
	font-size: 2vw;
	width: auto;
	height: auto;
}

#join-text:hover{
	font-size: 2.2vw;
	cursor: pointer;	
}