@charset "UTF-8";

/* Theme Color 
	
	Gray : black
	firebrick : #C8252B
	Yellow : #FDD000
	WhiteGray : #F2F2F2

*/

/* Main */

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	font-family: 'SBAggroB';
	box-sizing: border-box;
	margin: 0 auto;
}

@keyframes blink-effect { 50% { opacity: 0; } }

.blink{
	animation: blink-effect 1s step-end infinite;
}
	
h2{
	width: 100%;
	margin-top: 10%;
	text-align: left;
}

.title{
	width: 100%;
	text-align: center;
}

p{
	height:auto;
}

span{
	font-family: 'SBAggroM';
	height:auto;
}

h3{
	height:auto;
}

#wrap{
	min-height: 100vh;
	position: relative;
	width: 100%;
}

footer{
	width: 100%;
	height: 60px;
	text-align: right;
	bottom: 30px;
	right: 5%;
	position: absolute;
}

section{
	padding-bottom: 120px;
}

html, body{
	margin:0;
	padding:0;
}

.empty{
	height: 5%;
	text-align: right;
}

#background{
	background-color: firebrick;
	color: white;
}

#logo{
	width: auto;
	height: 100%;
	image-rendering: -webkit-optimize-contrast;
}
/* 모바일 화면 css */

@media (max-width: 768px){
	#logo-text{
		display: inline-block;
		font-family: 'SBAggroB';
		font-size: 6vw;
		width: auto;
		height: auto;
		color: #C8252B;
		text-shadow: 1px 1px 2px black;
	}
	
	#setting{
		width : inherit;
		max-width: 13%;
		height: auto;
		margin: 10%;
		margin-top: 15%;
	}
	
	#setting:hover{
		width : inherit;
		max-width: 14%;
		height: auto;
		margin: 9.5%;
		margin-top: 14.5%;
		cursor: pointer;
	}
	
	#symbol{
		display: inline-block;
		width : 100%;
		height : auto;
	}
	
	#mainlogo{
		width : inherit;
		max-width: 60%;
		height: auto;
	}
	
	#title{
		height: auto;
	}
	
	#title-text{
		display: inline-block;
		font-size: 13vw;
		width: auto;
		height: auto;
		margin: 3%;
		text-shadow: 3px 2px black;
	}
	
	#btn-main{
		text-align: right;
		margin-top: 50%;
	}
	
	#btn-submit-main{
		text-align: center;
		vertical-align: bottom;
		height: 20%;
	}
	
	#report{
		display: inline-block;
		max-width : 25%;
		height: auto;
		margin-right: 10%;
	}
	
	#report:hover{
		display: inline-block;
		max-width: 26%;
		height: auto;
		margin-right: 9.5%;
		cursor: pointer;
	}
	
	#btn-submit{
		display: inline-block;
		font-size: 7vw;
		border: none;
		vertical-align: middle;
		max-width: 50%;
		height: 30%;
		background-color: #F2F2F2;
		border-radius: 0.3em;
		box-shadow: 2px 2px 5px black;
		color: black;
	}
		
	#btn-submit:hover{
		display: inline-block;
		cursor: pointer;
	}
	
	#btn-submit:active{
		box-shadow: none;
	}
	
	#join{
		height: auto;
		margin-top: 5%;
	}
	
	#join-text{
		display: inline-block;
		font-size: 4vw;
		width: auto;
		height: auto;
	}
	
	#join-text:hover{
		font-size: 4.2vw;
		cursor: pointer;	
	}
	
	#btn-report-list{
		width:100%;
		height: 40px;
		background-color: firebrick;
		font-family: 'SBAggroM';
		font-size: 25px;
		color: white;
		text-align: center;
		box-shadow: 3px 2px black;
		border: 1px solid black;
		border-radius: 5px;
		margin-top: 5%;
	}
	
	#btn-map{
		width:80%;
		height: 40px;
		background-color: white;
		font-family: 'SBAggroM';
		font-size: 25px;
		color: black;
		text-align: center;
		box-shadow: 3px 2px black;
		border: 1px solid;
		border-radius: 5px;
	}
	
	#btn-map, #btn-report-list: hover{
		box-shadow: none;
	}
	
	/* 로그인페이지 */
	
	header{
        display:flex;
        justify-content: center;
        height: auto;
        font-size: 6vw;
    }
    form{
    	display: inline-block;
        padding:10px;
        height: auto;
        width: 60%;
    }
    .input-box{
        position:relative;
        margin:10px 0;
        height: auto;
        font-family: 'SBAggroL';
        text-align: left;
    }
    .input-box > input{
        background:transparent;
        border:none;
        border-bottom: solid 1px white;
        padding:20px 0px 5px 0px;
        width:100%;
        height: auto;
        font-family: 'SBAggroL';
        font-size:14pt;
        text-align: center;
        color: white;
        caret-color: white;
    }
    input::placeholder{
        color:transparent;
    }
    input:placeholder-shown + label{
        color: white;
        font-size:14pt;
        top:15px;
		font-family: 'SBAggroL';
        text-align: left;
    }
    input:focus + label, label{
        color:white;
        font-size:10pt;
        pointer-events: none;
        position: absolute;
        left:0px;
        top:0px;
        transition: all 0.2s ease ;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        font-family: 'SBAggroL';
        text-align: left;
    }

    input:focus, input:not(:placeholder-shown){
        border-bottom: solid 1px white;
        outline:none;
    }
    input[type=submit]{
        background-color: white;
        border:none;
        color:white;
        border-radius: 5px;
        width:100%;
        height:35px;
        font-size: 14pt;
        margin-top:100px;
        font-family: 'SBAggroL';
        text-align: left;
    }
    	
	form #btn-submit{
		background-color: transparent;
		border: 1px solid white;
		box-shadow: 2px 2px black;
		margin-top: 3%;
		max-width: 100%;
		min-height: 40px;
		font-family: 'SBAggroB';
		font-size: 5vw;
		text-align: center;
		color: white;
	}
	
	/* 회원가입 */
	
	#img-select{
		width: 80%;
		height: auto;
		image-rendering: -webkit-optimize-contrast;
	}

	#add-text{
		text-align: left;
	    font-size: 14pt;
	    font-family: 'SBAggroL';
	    padding: 20px 0px 5px 0px;
	    color: #aaa;
	}
	
	#btn-search{
		width: 40%;
		height: 30px;
		margin-left: 5%;
		border:none;
		font-family: 'SBAggroL';
		font-size: 12pt;
		border-radius: 0.3em;
    	box-shadow: 1px 1px 1px black;
	}
	
	#btn-search:active{
    	box-shadow: none;
	}
	
	/* 이용약관동의 */
	
	#agree{width: 100%;margin: 0 auto; padding:0; margin-top:10%; margin-bottom: 10%; text-align: center;}
	.agree_box{width:95%; display: inline-block;}
	.agree_box>li{width:100%;}
	ul>li{list-style: none}
	a{text-decoration: none; color:black;}
	a:visited{text-decoration: none; color:black;}
	.clearfix{padding:0;}
	.clearfix::after{content: "";display: block;clear: both;}
	ul.agree_box{border: 1px solid #ddd;background-color: #fff; margin:0; padding:0;}
	.checkBtn{width:5%;}
	#chk{width:15px; height: auto;}
	.checkBox,.checkBox>ul{position: relative;}
	.checkBox>ul>li{float: left;}
	.checkBox>ul>li:first-child{width: 90%;padding: 5%;font-weight: 600;color: #888;}
	.checkBox>ul>li:nth-child(2){position: absolute;top: 50%;right: 30px;margin-top: -12px;}
	.checkBox textarea{width: 96%;height: 90px; margin: 0 2%;background-color: #f7f7f7;color: #888; border: none; font-family: 'SBAggroL'; text-align:left;}
	.footBtwrap{margin-top: 15px;}
	.footBtwrap>li{float: left;width: 50%;height: 60px;}
	.footBtwrap>li>button{display: block; width: 100%;height: 100%; font-size: 20px;text-align: center;line-height: 60px;}
	.fpmgBt1{background-color: #fff;color:#888}
	.fpmgBt2{background-color: lightsalmon;color: #fff}

	/* report 페이지 */

	#map{
		width: 100%; 
		height: 70%;
	}

	#map>div{
		width:auto;
	}
	
	#report-btn-form{
		height:7%;
		font-size: 5vw;
	}
	
	#form-report{
		width: 100%;
		height: auto;
		font-size: 20px;
	}
	
	#loc{
		background-color: transparent;
		border: none;
		font-family: 'SBAggroM';
		font-size: 20px;
	}
	
	#form-report>input{
		border: none;
		font-size: 5vw;
		font-family: 'SBAggroM';
		background-color: transparent;
	}
	
	#btn-report:hover{
		box-shadow: none;
	}
	
	#btn-report{
		width:100%;
		height: 40px;
		background-color: firebrick;
		font-family: 'SBAggroM';
		font-size: 25px;
		color: white;
		text-align: center;
		margin-top: 5%;
		box-shadow: 1px 1px 2px black;
		border: none;
		border-radius: 5px;
	}
	
	input#btn-report{
		width:100%;
		height: 40px;
		background-color: firebrick;
		font-family: 'SBAggroM';
		font-size: 25px;
		text-align: center;
		margin-top: 5%;
		box-shadow: 1px 1px 5px black;
	}
	
	/* 신고체크페이지 */
	#img-car{
		width: 50%;
		height: auto;
	}
	
	/* 신고정보페이지 */
	
	#form-report-info{
		width: 100%;
		height: auto;
		font-family: 'SBAggroL';
	}
	
	#tbl-report{
		font-family: 'SBAggroL';	
	}
		
	#tbl-title{
		width:35%;
		height: 50px;
		font-family: 'SBAggroL';
		font-size: 20px;
		background-color: #F2F2F2;
	}

	#tbl-content{
		width:70%;
		height: 50px;
		font-family: 'SBAggroL';
		font-size: 20px;
		background-color: #F2F2F2;
	}
	
	.select{
		font-family: 'SBAggroL';
		background-color: transparent;
		border: none;
		font-size: 20px;
		height: auto;
		width: 80%;
	}
	
	.select>option{
		font-family: 'SBAggroL';
	}
		
	#report-input{
		border:none;
		font-family: 'SBAggroL';
		background-color: transparent;
		font-size: 3.5vw;
	}
	#report-textarea{
		height: 200px;
		font-family: 'SBAggroL';
		font-size: 4.5vw;
		text-align: left;
		background-color: transparent;
		border: none;
	}
	
	.return-text{
		font-family: 'SBAggroM';
		font-size: 4vw;
		color:black;
		text-align: left;
		text-indent: 10px;
	}
	.return-text:visited{
		color:black;
	}
	
	#form-report-info>h2{
		width: 100%;
		margin-top: 10%;
		text-align: left;
	}
	
	/* 설정페이지 */
	
	h2>a{
		font-family: 'SBAggroM';
		font-size:15px;
	}
	
	#setting-form{
		width: 90%;
		height: auto;
		margin-top: 10%;
	}
	
	#btn-select{
		height: 30px;
		font-family: 'SBAggroL';
		font-size: 20px;
		border: none;
		background-color: transparent;
	}
	
	input#radio{
		width: 30px;
		vertical-align: middle;
	}
	
	/* 신고 목록 페이지 */
	
	#report-content{
		width:70%;
		height: 80px;
		font-family: 'SBAggroL';
		font-size: 20px;
		background-color: #F2F2F2;
		text-align: left;
	}
	
	#report-info{
		font-family: 'SBAggroL';
		font-size: 15px;
	}
	
	/* detail 페이지 */
	
	#btn-detail{
		width:49%;
		height: 40px;
		background-color: firebrick;
		font-family: 'SBAggroM';
		font-size: 25px;
		color: white;
		text-align: center;
		margin-top: 5%;
		box-shadow: 1px 1px 2px black;
		border: none;
		border-radius: 5px;
	}
	
	/* map 페이지 */
	
	#select-form{
		height: 15%;
	}
	
	tr{
		height: 50px;
	}
	
}

/* 웹 화면 css */

@media (min-width: 768px){
	#setting{
		width : inherit;
		max-width: 5%;
		height: auto;
		margin: 2%;
	}
	
	#setting:hover{
		width : inherit;
		max-width: 6%;
		height: auto;
		margin: 1.5%;
		cursor: pointer;
	}
	
	#symbol{
		display: inline-block;
		max-width : 80%;
		height : auto;
	}
	
	#mainlogo{
		width : inherit;
		max-width: 30%;
		height: auto;
	}
	
	#title{
		height: auto;
	}
	
	#title-text{
		display: inline-block;
		font-size: 7vw;
		width: auto;
		height: auto;
		margin: 3%;
		text-shadow: 3px 2px black;
	}
	
	#btn-main{
		text-align: right;
		margin-top: 10%;
		height: auto;
	}
	
	#btn-submit-main{
		text-align: center;
		vertical-align: bottom;
		height: 30%;
	}
	
	#report{
		display: inline-block;
		max-width : 10%;
		height: auto;
		margin-right: 10%;
	}
	
	#report:hover{
		display: inline-block;
		max-width: 11%;
		height: auto;
		margin-right: 9.5%;
		cursor: pointer;
	}
		
	#btn-submit{
		display: inline-block;
		font-size: 3vw;
		margin-top: 5%;
		border: none;
		vertical-align: middle;
		max-width: 20%;
		height: 30%;
		background-color: #F2F2F2;
		border-radius: 0.3em;
		box-shadow: 3px 2px black;
		color: black;
	}
		
	#btn-submit:hover{
		display: inline-block;
		cursor: pointer;
	}
	
	#btn-submit:active{
		box-shadow: none;
	}
	
	#join{
		height: auto;
		margin-top: 2%;
	}
	
	#join-text{
		display: inline-block;
		font-size: 30px;
		width: auto;
		height: auto;
		margin-top: 1%;
	}
	
	#join-text:hover{
		font-size: 2.2vw;
		cursor: pointer;	
	}
	
	#btn-report-list{
		width:450px;
		height: 40px;
		background-color: #C8252B;
		font-family: 'SBAggroM';
		font-size: 25px;
		color: white;
		text-align: center;
		margin-top: 2%;
		box-shadow: 3px 2px black;
		border: 1px solid black;
		border-radius: 5px;
	}
	
	#btn-map{
		width:30%;
		height: 40px;
		background-color: black;
		font-family: 'SBAggroM';
		font-size: 25px;
		color: white;
		text-align: center;
		margin-top: 5%;
		box-shadow: 1px 1px 5px black;
		border:none;
		border-radius: 5px;
	}
	
	/* 로그인페이지 */
	
	header{
        display:flex;
        justify-content: center;
        height: auto;
        font-size: 2.5vw;
    }
    form{
    	display: inline-block;
        padding:10px;
        height: auto;
        width: 40%;
    }
    .input-box{
        position:relative;
        margin:10px 0;
        height: auto;
        font-family: 'SBAggroL';
        text-align: left;
    }
    .input-box > input{
        background:transparent;
        border:none;
        border-bottom: solid 1px white;
        padding:20px 0px 5px 0px;
        width:100%;
        height: auto;
        font-family: 'SBAggroL';
        font-size:14pt;
        text-align: center;
        color:white;
    }
    input::placeholder{
        color:transparent;
    }
    input:placeholder-shown + label{
        color:white;
        font-size:14pt;
        top:15px;
        font-family: 'SBAggroL';
        text-align: left;
    }
    input:focus + label, label{
        color:white;
        font-size:10pt;
        pointer-events: none;
        position: absolute;
        left:0px;
        top:0px;
        transition: all 0.2s ease ;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        font-family: 'SBAggroL';
        text-align: left;
    }

    input:focus, input:not(:placeholder-shown){
        border-bottom: solid 1px white;
        outline:none;
    }
    input[type=submit]{
        background-color: black;
        border:none;
        color:white;
        border-radius: 5px;
        width:100%;
        height:35px;
        font-size: 14pt;
        margin-top:100px;
        font-family: 'SBAggroL';
        text-align: left;
    }
    
	form #btn-submit{
		border: 1px solid white;
		background-color: transparent;
		color: white;
		margin-top: 10%;
		max-width: 40%;
		min-width: 300px;
		height: 60px;
		font-family: 'SBAggroB';
		font-size: 40px;
		text-align: center;
	}
	
	/* 회원가입 */
	
	#img-select{
		width: 49%;
		height: auto;
		image-rendering: -webkit-optimize-contrast;
	}
		
	#img-select:hover{
		cursor: pointer;
	}
	
	#add-text{
		text-align: left;
	    font-size: 14pt;
	    font-family: 'SBAggroL';
	    padding: 20px 0px 5px 0px;
	    color: #aaa;
	}
	
	#btn-search{
		width: 20%;
		margin-left: 5%;
		border:none;
		height: 40px;
		font-family: 'SBAggroL';
		font-size: 15pt;
		border-radius: 0.3em;
    	box-shadow: 1px 1px 1px black;
	}
	
	#btn-search:active{
    	box-shadow: none;
	}
	
	/* 이용약관동의 */
	
	#agree{width: 100%;margin: 0 auto; padding:0; margin-top:5%; margin-bottom: 5%; text-align:center;}
	.agree_box{width:50%; display:inline-block;}
	.agree_box>li{width:100%;}
	ul>li{list-style: none}
	a{text-decoration: none; color:black;}
	a:visited{text-decoration: none; color:black;}
	.clearfix{padding:0;}
	.clearfix::after{content: "";display: block;clear: both;}
	ul.agree_box{border: 1px solid #ddd;background-color: #fff; margin:0; padding:0;}
	.checkBtn{width:5%;}
	#chk{width:15px; height: auto;}
	.checkBox,.checkBox>ul{position: relative; font-size: 25px;}
	.checkBox>ul>li{float: left;}
	.checkBox>ul>li:first-child{width: 90%;padding: 2%;font-weight: 600;color: #888;}
	.checkBox>ul>li:nth-child(2){position: absolute;top: 50%;right: 30px;margin-top: -12px;}
	.checkBox textarea{width: 96%;height: 90px; margin: 0 2%;background-color: #f7f7f7;color: #888; border: none; font-family: 'SBAggroL'; font-size: 15px; text-align: left;}
	.footBtwrap{margin-top: 15px;}
	.footBtwrap>li{float: left;width: 50%;height: 60px;}
	.footBtwrap>li>button{display: block; width: 100%;height: 100%; font-size: 20px;text-align: center;line-height: 60px;}
	.fpmgBt1{background-color: #fff;color:#888}
	.fpmgBt2{background-color: lightsalmon;color: #fff}
	
	/* report 페이지 */

	#map{
		width: 100%; 
		height: 70%;
	}

	#map>div{
		width:auto;
	}
	
	#report-btn-form{
		height:7%;
		font-size: 30px;
	}
	
	#form-report{
		width: 100%;
		height: 100%
	}
	
	#loc{
		background-color: transparent;
		border: none;
		font-family: 'SBAggroM';
		font-size: 30px;
	}
	
	
	#form-report>input{
		border: none;
		font-size: 2vw;
		font-family: 'SBAggroM';
		background-color: transparent;
	}
	
	#btn-report:hover{
		cursor: pointer;
		box-shadow: none;
	}
	
	input#btn-report{
		width:450px;
		height: 40px;
		background-color: firebrick;
		font-family: 'SBAggroM';
		font-size: 25px;
		text-align: center;
		margin-top: 5%;
		box-shadow: 3px 2px black;
	}
	
	/* 신고체크페이지 */
	#img-car{
		width: 30%;
		height: auto;
	}
	
	/* 신고정보페이지 */
	
	#form-report-info{
		width: 50%;
		height: auto;
		font-family: 'SBAggroL';
		font-size: 20px;
	}
	
	#tbl-report{
		font-family: 'SBAggroL';	
	}
	
	#tbl-title{
		width:30%;
		height: 40px;
		font-family: 'SBAggroL';
		font-size: 20px;
		background-color: #F2F2F2;
	}

	#tbl-content{
		width:70%;
		font-family: 'SBAggroL';
		background-color: #F2F2F2;
		font-size: 20px;
		height: 50px;
	}
	
	.select{
		font-family: 'SBAggroL';
		background-color: transparent;
		border: none;
		font-size: 20px;
	}
	
	.select>option{
		font-family: 'SBAggroL';
	}
		
	#report-input{
		border:none;
		font-family: 'SBAggroL';
		background-color: transparent;
		font-size: 20px;
	}
	
	#report-textarea{
		height: 200px;
		font-family: 'SBAggroL';
		font-size: 20px;
		text-align: left;
		background-color: transparent;
		border: none;
	}
	
	.return-text{
		font-family: 'SBAggroM';
		font-size: 20px;
		color:black;
		text-align: left;
		text-indent: 10px;
	}
	.return-text:hover{
		font-size: 18px;
	}
	.return-text:visited{
		color:black;
	}
	
	/* setting 페이지 */
	
	h2>a{
		font-family: 'SBAggroM';
		font-size:15px;
	}
	
	#setting-form{
		width: 50%;
		height: auto;
		margin-top: 10%;
	}
	
	#btn-select{
		height: 30px;
		font-family: 'SBAggroL';
		font-size: 20px;
		border: none;
		background-color: transparent;
	}
	
	input#radio{
		width: 30px;
		vertical-align: middle;
	}
	
	/* 신고 목록 페이지 */
	
	#report-content{
		width:70%;
		height: 80px;
		font-family: 'SBAggroL';
		font-size: 20px;
		background-color: #F2F2F2;
		text-align: left;
	}
	
	#report-info{
		font-family: 'SBAggroL';
		font-size: 15px;
	}
	
	#btn-report{
		width:100%;
		height: 40px;
		background-color: firebrick;
		font-family: 'SBAggroM';
		font-size: 25px;
		color: white;
		text-align: center;
		margin-top: 5%;
		box-shadow: 3px 2px black;
		border: 1px solid black;
		border-radius: 5px;
	}
	
	/* detail 페이지 */
	
	#btn-detail{
		width:49%;
		height: 40px;
		background-color: firebrick;
		font-family: 'SBAggroM';
		font-size: 25px;
		color: white;
		text-align: center;
		margin-top: 5%;
		box-shadow: 1px 1px 2px black;
		border: none;
		border-radius: 5px;
	}
	
	/* map 페이지 */
	
	#select-form{
		height: 12%;
	}
	
	tr{
		height: 50px;
	}
	
}